/*css*/
body {
      background-color: #333;
      color: #dedede;
      font-family: 'Arial', sans-serif;
   margin: 0;
    }
    .h-txt {
      color: #ff4500;
    }
    .img-w {
      max-width: 100%;
      height: auto;
    }
	  a {
		  color: yellow;
text-decoration: none;
	  }
	

    .popup {
position: fixed;
      left: 50%;
      top: 50%;
      text-align: center;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #707070;
	    width: 85%;
	    height: 70%;
      z-index: 9;
	    transform: translate(-50%, -50%);
     
    }

    .popup_button {
      padding: 10px 20px;
      margin: 10px;
      font-size: 16px;
    }

    .close-btn {
      position: absolute;
      top: -5px;
      right: -5px;
      cursor: pointer;
	    color: black;
	    
      }
